function PipePair.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push pointer 0
push argument 0
push constant 0
not
push constant 0
call PipePair.reset 4
pop temp 0
push pointer 0
return
function PipePair.reset 0
push argument 0
pop pointer 0
push constant 40
pop this 2
push argument 1
pop this 3
push constant 5
pop this 4
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 512
push this 4
add
pop this 0
goto IF_END0
label IF_FALSE0
push argument 3
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 512
push this 4
add
push this 0
sub
pop argument 3
label IF_FALSE1
push this 0
push argument 3
add
pop this 0
push this 7
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 7
push argument 1
push constant 0
push argument 3
call PipePair.reset 4
pop temp 0
label IF_FALSE2
label IF_END0
push constant 190
pop this 5
push this 4
push constant 256
push this 3
sub
push this 4
sub
push constant 1
sub
call LCGRandom.randRange 2
pop this 1
push constant 0
pop this 6
push constant 0
return
function PipePair.getNext 0
push argument 0
pop pointer 0
push this 7
return
function PipePair.isOutOfScene 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push this 4
add
push constant 0
lt
return
function PipePair.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push this 7
push constant 0
eq
push this 0
push constant 512
push this 5
sub
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
call PipePair.new 1
pop this 7
label IF_FALSE0
push pointer 0
call PipePair.draw 1
pop temp 0
push constant 0
return
function PipePair.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push constant 0
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push this 4
add
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 511
push this 0
push this 2
add
call Math.min 2
call Math.max 2
push constant 0
push constant 0
push constant 511
push this 0
push this 2
add
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
push this 2
add
push this 4
add
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
push constant 0
push constant 511
push this 0
push this 2
add
push this 4
add
call Math.min 2
call Math.max 2
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
push this 2
add
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push this 4
add
push constant 0
push constant 511
push this 0
push this 2
add
call Math.min 2
call Math.max 2
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 511
push this 0
push this 2
add
push this 4
add
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push constant 0
push constant 511
push this 0
push this 2
add
push this 4
add
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function PipePair.isCollidingWith 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push constant 0
push constant 0
push constant 511
push this 2
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
call Utils.areBoundsIntersecting 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push argument 1
push argument 2
push argument 3
push argument 4
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
push this 4
sub
push constant 0
push constant 511
push this 4
push constant 2
call Math.multiply 2
push this 2
add
call Math.min 2
call Math.max 2
push this 4
call Utils.areBoundsIntersecting 8
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push argument 1
push argument 2
push argument 3
push argument 4
push constant 0
push constant 511
push this 0
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push this 4
add
push constant 0
push constant 511
push this 2
call Math.min 2
call Math.max 2
push constant 255
push this 1
sub
push this 3
sub
push this 4
sub
call Utils.areBoundsIntersecting 8
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push argument 1
push argument 2
push argument 3
push argument 4
push constant 0
push constant 511
push this 0
push this 4
sub
call Math.min 2
call Math.max 2
push this 1
push this 3
add
push constant 0
push constant 511
push this 4
push constant 2
call Math.multiply 2
push this 2
add
call Math.min 2
call Math.max 2
push this 4
call Utils.areBoundsIntersecting 8
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
push constant 0
return
function PipePair.isPassed 0
push argument 0
pop pointer 0
push this 6
return
function PipePair.setIsPassed 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function PipePair.isGapPassed 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push argument 3
push argument 4
push constant 0
push constant 511
push this 0
push this 2
add
push this 2
push constant 4
call Math.divide 2
sub
call Math.min 2
call Math.max 2
push this 1
push this 2
push constant 4
call Math.divide 2
push this 3
call Utils.areBoundsIntersecting 8
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function PipePair.dispose 0
push argument 0
pop pointer 0
push constant 0
pop this 7
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
